.itemDetailBox {
	display: flex;
	flex-direction: row;
	width: 60%;
	height: 500px;
	margin: 0 auto;

	.itemDetailBox__frame {
		display: flex;
		width: 40%;
    height: 100%;

    border-right: 1px solid rgba(0, 0, 0, 30%);
    margin-right: 1em;

		img {
			max-width: 280px;
			max-height: 280px;
			width: auto;
			height: auto;
			margin: auto;
		}
	}

	section.info {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 40%;
		height: 100%;

		.info__title {
			h2 {
				margin: auto 0;
				font-size: 28pt;
				&:hover{
					/*text-decoration: underline;
					color: red;*/
				}
			}
			.info__title--overflow {
				overflow-y: auto;
    		max-height: 30vh;
    		min-height: 15vh;
				margin-bottom: 1rem;
				
				p {
					font-size: 12pt;
				}
			}

		}
		div.info__price{
			div.info__price__stock{
				display: flex;
				justify-content: space-between;
				align-items: flex-end;
				margin-bottom: 2em;


				h4 {
					margin: 0;
					font-size: 24pt;
					line-height: 12pt;
					&::first-letter{
						font-size: 16pt;
						font-weight: bold;
					}
				}
				span {
					font-weight: bold;
					b {
						color: royalblue;
					}
				}
			}
			
		}

	}
}