button {
    background-color: rgba(0,0,0, .5);
    color:rgb(245, 245, 245)
}

header {
    height: 50vh;
    background: url("../public/index-hero.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    box-shadow: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

footer {
    font-family: "Ubuntu";
    padding: 5px;
    background-image: linear-gradient(to left, rgb(122, 122, 122), rgb(245, 245, 245));;
}

img {
    width: 100px;
    height: auto;
}

nav a {
    margin: 5px;    
}

p {
    padding: 15px;
    margin: 1px;
}

.productCard {

    border: solid 1px black;
    padding: 15px;
    
}

.productCounter {
    display: flex;
}

.productContainer {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px;
    

}

